
@{
    ViewBag.Title = "增加菜单节点";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div>
    <form action="" method="post" class="form form-horizontal responsive" id="addNodeform">
        <div class="row cl">
            <label class="form-label col-xs-3">所属父节点：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" readonly value="">
                <input type="hidden" value="" name="ParentId" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">增加节点名称：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" placeholder="增加节点名称" name="MenuName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">节点图标：</label>
            <div class="formControls col-xs-8">
                <label class="radio-inline">
                    <input type="radio" name="IconFont" value="xe625"> <i class="icon Hui-iconfont">&#xe625;</i>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="IconFont" value="xe61d">  <i class="icon Hui-iconfont">&#xe61d;</i>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="IconFont" value="xe623">  <i class="icon Hui-iconfont">&#xe623;</i>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="IconFont" value="xe64f">  <i class="icon Hui-iconfont">&#xe64f;</i>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="IconFont" value="xe61e">  <i class="icon Hui-iconfont">&#xe61e;</i>
                </label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">节点Url：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="格式：/控制器/方法" name="MenuUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">排序字段：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="排序字段" name="SortNum">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-xs-offset-3">
                <input class="btn btn-primary btnAddNode" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>



