@using ZSZ.AdminWeb.Models

@{
    Layout = null;
}

@{
    bool flag = BtnRoleHelper.IsValid("1", "2");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
